[submodule "fastlane/.flutter"]
	path = fastlane/.flutter
	url = https://github.com/FairyBand/kazumi-flutter-engine.git
	branch = kazumi-hdr-3.47
[submodule "fastlane/.libmpv-android-video-build"]
	path = fastlane/.libmpv-android-video-build
	url = https://github.com/Predidit/libmpv-android-video-build.git
